user = {{ mail_db_username }}
password = {{ mail_db_password }}
hosts = localhost
dbname = {{ mail_db_database }}
query = SELECT domain FROM domain WHERE domain='%s' AND backupmx = false AND active = true
