    Ciphers {{ ssh.ciphers }}
    KexAlgorithms {{ ssh.kex_algorithms }}
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
    MACs {{ ssh.macs }}
    PasswordAuthentication no
